/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root{
    --border-width: 5px;
    --click-offset: 2px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    background-image: url('../images/background.png');
    background-size: cover;

    color: white;
}

.page{
    margin-top: 165px;
    padding-bottom: 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1{
    font-family: Lora;
    font-weight: 400;
    font-size: 70px;
    text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black;

    padding: 2px 6px;
    display: inline;
}

h2{
    font-size: 40px;
    font-style: italic;
    background-color: black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

h3.contrast{
    background-color: black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.subheading{
    font-size: 30px;
    font-style: italic;
    letter-spacing: 5px;

    background-color: black;
    padding: 0px 5px;
    margin-bottom: 30px;
}

.option{
    border: var(--border-width) solid black;
    -webkit-box-shadow:  var(--border-width) var(--border-width) 0px black;
            box-shadow:  var(--border-width) var(--border-width) 0px black;
    background-color: #b9003e;
    color: white;

    font-size: 30px;
    font-style: italic;

    margin: 20px 10%;
    padding: 5px 5px;
    display: block;
    text-decoration: none;

}

.option:hover{
    background-color: #8f0030;
    cursor: pointer;
}

.option:focus{
    -webkit-box-shadow:  calc(var(--border-width) - var(--click-offset)) calc(var(--border-width) - var(--click-offset)) 0px black;
            box-shadow:  calc(var(--border-width) - var(--click-offset)) calc(var(--border-width) - var(--click-offset)) 0px black;
    -webkit-transform: translate(var(--click-offset), var(--click-offset));
        -ms-transform: translate(var(--click-offset), var(--click-offset));
            transform: translate(var(--click-offset), var(--click-offset));
}

.back{
    position:fixed;
    padding: 2px 8px;
    left: 20px;
    bottom: 20px;

    border: var(--border-width) solid black;
    -webkit-box-shadow:  var(--border-width) var(--border-width) 0px black;
            box-shadow:  var(--border-width) var(--border-width) 0px black;
    background-color: #b9003e;
    color: white;

    font-size: 30px;
    font-style: italic;
    text-decoration: none;

    z-index: 99;
}

.back:hover{
    background-color: #8f0030;
    cursor: pointer;
}

.back:focus{
    -webkit-box-shadow:  calc(var(--border-width) - var(--click-offset)) calc(var(--border-width) - var(--click-offset)) 0px black;
            box-shadow:  calc(var(--border-width) - var(--click-offset)) calc(var(--border-width) - var(--click-offset)) 0px black;
    -webkit-transform: translate(var(--click-offset), var(--click-offset));
        -ms-transform: translate(var(--click-offset), var(--click-offset));
            transform: translate(var(--click-offset), var(--click-offset));
}

.footer{
    height: 75px;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .page{
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
        padding: 0px 10px
    }
}